$cor-primaria: rgb(120, 23, 76);
$cor-secundaria: #000;
$backgraund-primario: rgb(199, 174, 220);   
$backgraund-secundario: rgba(199, 174, 220,0.7);;
$fonte-principal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$align-padrao: center;
$espacamento-padrao: 300px;
$espacamento-menor: calc($espacamento-padrao/ 6);
$fonte-tamanho: 1rem;
